<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <base target="_blank"> <!-- New tab for links -->
  {%- include analytics.html -%} <!-- Google Analytics -->
</head>

<body>
  <div class="menuArea">
    <div class="goattitle">
      <h1 class="bigMenu">CYBER</h1>
      <img class="goat" src="https://www.cybergoat.co.uk/images/goathead.jpg">
      <h1 class="bigMenu">GOAT</h1>
    </div>
    <nav>
      <ul class="menuItems">
        <a href="/index.html" target="_self"><li>Home</li></a>
        <a href="/writeup" target="_self"><li>CTF Writeups</li></a>
        <a href="/ethical" target="_self"><li>Ethical Hacking</li></a>
        <a href="/cheatsheet" target="_self"><li>Cheat Sheets</li></a>
        <a href="/other" target="_self"><li>Other</li></a>
      </ul>
    </nav>
  </div>

  <div class="mainwrapper">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include svg-icons.html %}
      </footer>
    </div>
  </div>

</body>

</html>
